* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  user-select: none;
}

.conteiner-relatorio-mensal {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #F2F2F2;
}

.conteiner-relatorio {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93.5%;
  box-sizing: border-box;
}