* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.tela-login {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.imagem-tela-login {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.imagem-tela-login img {
  width: 100%;
}

.container-login {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #03161A;
}

#icon {
  width: 25%;
  height: 10%;
  margin: 0 0 15% 0;
}

.container-login h2 {
  color: white;
  font-size: 1.25rem;
  margin: 0 0 16px 0;
}

.container-login p {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: medium;

}

.container-login a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: #FFA800;
}

.container-login a:hover {
  color: #ffdd9a;
  transition: background 0.25s;
}

.formulario-login {
  width: 70%;
  height: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.formulario-login input {
  width: 96%;
  height: 14%;
  border-radius: 8px;
  border: none;
  margin: 8px 0 16px 0;
  padding-left: 4%;
  background-color: #032026;
  color: white;
  font-size: 0.9rem;
  box-shadow: 1px 1px 0 0 #FFA800;
}

.formulario-login button {
  height: 14%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5vh 0 0 0;
  border: 2px solid white;
  background-color: #ffffff;
  color: #03161A;
  text-align: center;
  transition: background 0.1s;
  font-weight: bold;
  font-size: 0.9rem;
}

.formulario-login button:hover {
  background-color: #032026;
  color: #ffffff;
  border: 1px solid #FFA800;
}

.formulario-login input::placeholder {
  color: #979797;
  font-size: 12px;
  padding-left: 1px;
  font-weight: bold;

}

.formulario-login .mensagem-erro {
  color: rgb(255, 72, 72);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

.formulario-login .erro-input {
  margin: 5px 0;
}