* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h3{
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}

.cadastro {
    display: flex;
    height: 100vh;
    width: 100vw;

    background-color: #E6E6E6;
}

.linha {
  display: flex;
  justify-content: space-between;
}

.dados-pessoais{
  margin-top: 40px;
  
}

.bloco-central {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  margin-top: 50px;
  margin-bottom: 20px;
}

.ficha-gerencial{
  margin-top: 40px; 
}


#matricula, #nomeGuerra, #nomeCompleto,
#nomeMae, #nomePai, #email, #telefone,
#postGrad, #escolaridade {
  width: 100%;
  margin-bottom: 9px;
}


#rg, #cpf, #matSiape,
#cnhCategoria, #cnhProntuario {
  width: 90%;
  margin-bottom: 9px;
}

#cep, #cidade, #bairro {
  width: 90%;
  margin-bottom: 9px;
}

#logradouro {
  width: 100%;
  margin-bottom: 9px;
}

#uf {
  width: 35px;
  margin-bottom: 9px;
}

#classificacao, #funcao, #escala, #horario,
#lotacao, #comportamento, #apresentacao, #admissao {
  width: 100%;
  margin-bottom: 9px;
}

#nascimento, #cnhValidade, #validadeBienal, #validadeTAF {
  width: 86%;
  margin-bottom: 9px;
  padding: 0 7px 0px 7px;
}
#secao1, #secao2 {
  width: 32%;
}

#secao3 {
  width: 15%;
}

#secao4, #secao5 {
  width: 100%;
}

#secao6{
  width: 100%;
}

.dados-pessoais, .ficha-gerencial {
  width: 95%;
}

.documentacao, .endereco {
  width: 45%;
}

.formulario-cadastro,
.formulario-ficha-gerencial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conteiner input {
  background-color: white;
  border:none;
  border-radius: 8px;
  padding-left: 4px;
  height: 30px;
}

.conteiner fieldset {
  border: none;
}

.conteiner fieldset legend {
  display: none;
}

.conteiner span {
  display: block;
  color: #898989;
  font-weight: bold;
  font-size: 14px;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80vw;
  height: 80%;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80%;
}

.botoes {
  display: flex;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
}

.botoes button {
  margin-right: 2.7%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
