* {
  margin: 0;
  padding: 0;
}

.cadastro {
    display: flex;
    height: 100vh;
    width: 100vw;

    background-color: #E6E6E6;
}

.linha {
  display: flex;
  justify-content: space-between;
}

#matricula, #nomeGuerra, #nomeCompleto, #nascimento,
#nomeMae, #nomePai, #email, #telefone,
#postGrad, #escolaridade {
  width: 100%;
}

#rg, #cpf, #matSiape
#cnhCategoria, #cnhValidade, #cnhProntuario {
  width: 90%;
}

#cep, #cidade, #bairro {
  width: 90%;
}

#logradouro {
  width: 100%;
}

#uf {
  width: 35px;
}

#classificacao, #funcao, #escala, #horario,
#lotacao, #comportamento, #porteArma, #apresentacao,
#admissao, #validadeBienal, #validadeTAF {
  width: 100%;
}

#secao1, #secao2 {
  width: 32%;
}

#secao3 {
  width: 15%;
}

#secao4, #secao5 {
  width: 100%;
}

#secao6{
  width: 100%;
}

.dados-pessoais, .ficha-gerencial {
  width: 95%;
}

.documentacao, .endereco {
  width: 43%;
}

.mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.formulario-cadastro,
.formulario-ficha-gerencial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conteiner input {
  background-color: white;
  border: none;
}

.conteiner fieldset {
  border: none;
}

.conteiner fieldset legend {
  display: none;
}

.conteiner span {
  display: block;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80vw;
  height: 80%;
  gap: 15%;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80%;
}

.botoes {
  display: flex;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
}

.botoes button {
  margin-right: 2.5%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

