* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.tela-inicial {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #E6E6E6;
}

.conteiner-cabecalho {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80vw;
    height: 15vh;
}

.lista-suspensa {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 140px;
    height: 50px;
    background-color: #004373;
    border-radius: 10px 10px 5px 5px;
    cursor: pointer;
    align-items: center;
}

.lista-suspensa span {
    color: white;
    font-size: 16px;
}

.opcoes-lista-suspensa {
    position: absolute;
    max-height: 0;
    top: 3.3rem;
    left: 0;
    width: 100%;
    border-radius: 5px 5px 10px 10px;

    background-color: white;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.lista-suspensa:hover .opcoes-lista-suspensa {
    max-height: 300px;
}

.opcoes-lista-suspensa li {
    padding: 0.5rem 0 0.5rem 0.5rem;
    cursor: pointer;
    transition: margin-left 0.25s;
}

.opcoes-lista-suspensa li:hover {
    margin-left: 0.5rem;
    color: #004373;
}

.busca {
    display: flex;
    width: 645px;
    align-items: center;
    border-radius: 10px;
    background: #FAF9F6;
    transition: background 0.25s;
    margin-left: 5%;
}

.busca:focus-within {
    background: white;
}

.busca input {
    font-size: 16px;
    /*font-family: 'Times New Roman', Times, serif;*/
    color: #000000;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    width: 460px;
    height: 30px;
}

.busca input::placeholder {
    color: #919191;
}

.conteiner-cabecalho button {
    width: 12vw;
    height: 5.93vh;
    background-color: #032026;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(-10%);
    text-align: center;
    transition: background 0.25s;
    font-weight: bold;
    border: 2px solid #FAF9F6;
}

.conteiner-cabecalho button:hover {
    background-color: #13515E;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"]::-moz-search-clear-button {
    display: none;
}

input[type="search"]::-ms-clear {
    display: none;
}