* {
  padding: 0;
  margin: 0;
}

#transition-modal-title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.teste #email,
#login,
#senha {
  background-color: #032026;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 3%;
  font-size: 0.9rem;
  box-shadow: 1px 1px 0 0 #FFA800;
  margin-top: 15%;
}

.teste #privilegios {
  margin-top: 10%;
}