* {
  padding: 0;
  margin: 0;
}

#transition-modal-title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}




.css-upzhda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}

.teste {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}

#email-perfil, #nome-perfil, #usuario, #senha {
  background-color: #032026;
  color: white;
  width: 100%;
  border-radius: 8px;
  padding: 3%;
  font-size: 0.9rem;;
  box-shadow: 1px 1px 0 0 #FFA800;
}

/* #email-perfil, #nome-perfil, #usuario, #senha {
  width: 100%;
} */

.modal-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  color: white;
}

#salvar {
  background-color: #588C7E;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#salvar:hover {
  background-color: #466D5D;
}

.modal-content {
  background-color: #03161A;
  padding: 20px;
  border-radius: 8px;
}
